<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<title>First Encounter</title>
	</head>
	<body>
		<h1 class="PageTitle">Welcome to the Second Challenge</h1>
		<div id="contentBox">
			<h3>Instructions</h3>
			<ul>
				<li>Try Injecting an XSS Payload</li>
				<li>The GET Request Paramter is 'param'</li>
				<li>Happy Hacking :)</li>
			</ul>
			<img src="{{ url_for('static', filename='secondEncounter.png') }}">
		</div>

		<div id="contentBox">
			<h3>Result</h3>
			<p id="content">Beautiful Content</p>
		</div>
		<script>
			let param = new URL(location).searchParams.get('param');
			param = param.replace(/[<>]/g, '')
			content.innerHTML = param;
		</script>
	</body>
</html>